.slick-next {
    right: initial;
}

.slick-prev {
    left: initial;
    right: 25px !important;
}

.slick-next, .slick-prev {
    border: none;
    cursor: pointer;
    display: block;
    font-size: 0;
    height: 30px;
    line-height: 0;
    padding: 0;
    position: absolute;
    top: -35px;
    transform: translateY(0);
    width: 30px;
    right: 0;
}

.slick-next:before, .slick-prev:before {
    color: #e69c10;
    font-size: 20px;
    line-height: 1;
    opacity: .75;
}

.slick-dots li button:before {
    color: #e69c10;
}

.slick-dots li.slick-active button:before {
    color: #e69c10;
}
